.sub-title{
  color: var(--color-secondary);
}

.paragraph-1 .paragraph-2 {
  color: var(--color-neutral);
}

hr {
  color: var(--color-secondary);
}

h5 {
  color: var(--color-primary);
}

h6 {
  color: var(--color-primary-light);
}
