.banner-dark {
  background-color: var(--color-primary);
  color: #fff;
}

.banner-dark-text {
  color: var(--color-secondary);
}

.banner-light {
  border-bottom: 4px solid var(--color-secondary);
  color: var(--color-primay);
}
