.card {
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  color: #fff;

  background-color: var(--color-primary);
  box-shadow: 3px 3px 15px #000;
}

.light-card {
  border: 2px solid var(--color-nuetral);
  border-radius: 8px;
  color: var(--color-primary-light);

  background-color: #fff;
  box-shadow: 3px 3px 15px #000;
}
