legend {
  color: var(--color-primary);
}

label {
  color: var(--color-primary-light);
}

input {
  color: #fff;
  background-color: var(--color-whatever);
  border-color: var(--color-primary-light);
}

select {
  color: #fff;
  background-color: var(--color-whatever);
  border-color: var(--color-primary-light);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='%23582c4d' stroke-miterlimit='10' stroke-width='70' d='M36.3 82.1l91.9 91.8 91.5-91.8'/%3E%3C/svg%3E");
}
