:root {
  --color-primary: #582c4d;
  --color-primary-light: #b38d97;
  --color-secondary: #a0e5d3;
  --color-accent: #c05d77;
  --color-neutral: #808080;
  --color-whatever: #ece2d0;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Pacifico", cursive;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-primary);
  font-family: "Pacifico", cursive;
}

h4 {
  color: var(--color-primary);
  font-family: "Pacifico", cursive;
}

h1, h2, h3, h6 {
  color: var(--color-primary-light);
}

ul, ol, dl {
  color: var(--color-neutral);
}

a {
  color: var(--color-primary-light);
}

blockquote {
  color: var(--color-secondary);
}

cite {
  color: var(--color-whatever),
}

em, strong, del, ins, abbr, dfn, i, b, mark, q, s, u {
  color:
}
