:root {
  --color-primary: #582c4d;
  --color-primary-light: #b38d97;
  --color-secondary: #a0e5d3;
  --color-accent: #c05d77;
  --color-neutral: #808080;
  --color-whatever: #ece2d0;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Pacifico", cursive;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

h2 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

h3 {
  color: var(--color-primary-light);
  font-family: var(--font-primary);
}

h4 {
  color: var(--color-accent);
  font-family: var(--font-primary);
  font-weight: bolder;
}

h5, h6 {
  color: var(--color-neutral);
}

ul, ol, dl {
  color: var(--color-neutral);
  font-style: normal;
}

a {
  color: var(--color-primary-light);
  font-style: normal;
}

blockquote {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-style: italic;
}

cite {
  color: var(--color-whatever),
}

em {
  color: var(--color-primary-light);
}

strong, b {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

abbr {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-weight: bold;
}

mark {
  color: var(--color-secondary);
  background-color: var(--color-primary-light);
}

del, ins, dfn, i, q, s, u {
  color: var(--color-primary-light);
}
