:root {
  --color-primary: #582c4d;
  --color-primary-light: #b38d97;
  --color-secondary: #a0e5d3;
  --color-accent: #c05d77;
  --color-neutral: #808080;
  --color-whatever: #ece2d0;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Pacifico", cursive;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
}
